# Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
server

# Environments and configs
.env
*.local
token.txt
*-adminsdk-*.json
fcm-service-account.json

# Databases
*.db
*.db-shm
*.db-wal

# Logs
*.log
be_out.log

# Process IDs
*.pid
srv.pid

# Uploads and Backups
/uploads/
/backups/
